.brewing {
  text-align: center;
  color: red;
  img {
    width: 100px;
    height: 100px;
  }
  h4 {
    color: black;
  }
}
.carouselLeftNav {
  left: 30px;
}
.carouselRighttNav {
  right: 30px;
}
